* {
  box-sizing: border-box;
}
body {
  font-family: Lato;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background: #343a40;
}
h2 {
margin:0px;
padding: 0px;
}


p {
  line-height: 1.5rem;
}
.center-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 500px;
}
.center {
  display: inline flex;
  margin: 5px 20px;
  padding: 5px;
}
.images {
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.fab.fa-github-square {
  font-size: 40px;
  color: #eb5e28;
  padding-right: 40px;
}
.fas.fa-phone-square-alt {
  font-size: 18px;
}
.fab.fa-linkedin {
  font-size: 40px;
  color: #eb5e28;
  padding-right: 40px;
}
.fab.fa-linkedin:hover {
  color: #ffe400;
}
.fab.fa-github-square:hover {
  color: #ffe400;
}
.fas.fa-rss-square:hover {
  color: #ffe400;
}
.fas.fa-rss-square {
  color: #eb5e28;
  font-size: 40px;
}
.stand_out_color_text {
  color: #ffe400;
  text-align: center;
  font-size: 24px;
}
.header_subtitle {
  font-size: 21px;
  min-height: auto;
  text-align: left;
  float: left;
  color: #EEEEEE;
}
.time_subtitle {
  color: #EEEEEE;
  font-size: 14px;
  min-height: auto;
  float: right;
}
.card_subheader {
  color: #EEEEEE;
  font-size: 18px;
  min-height: auto;
  text-align: left;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color: #EEEEEE;
  background-color: #272727;
  margin-left: 10px;
  margin-bottom: 10px;
  /* min-width: 300px;*/
}

.profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color: #EEEEEE;
  background-color: #272727;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
  min-width: 400px;
  text-align: justify;
}

.icons {
  color: #EEEEEE;
  min-width: 400px;
  max-width: 400px;
  position:relative;
}

.education-minor {
  text-align: left;
}

.card_body {
  text-align: justify;
}
.links {
  /*width:400px;*/
  display:block;
  justify-content: center;

  margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
max-width: 500px;
}

.contact {
  display: block;
  justify-content: left;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 1fr 200px; */
}

.grid-services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 1fr 200px; */
}

.grid-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.footer {
  display: table;
  margin-top: 20px;
  width: 100%;
  line-height: 24px;
  text-align: center;
  color: #EEEEEE;
  background-color: #272727;
}

.contact_info {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  color: #EEEEEE;
  background-color: #272727;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 400px;
  max-width: 400px;
  position:relative;
  /*width:auto;*/
}

.header_card {
  margin: 0px 0px 0px 0px;
  line-height: 24px;
  text-align: center;
  color: #EEEEEE;
  background-color: #272727;
  min-width:230px;
}

a:link {
  color: #EEEEEE;
}
.challenge {
  color: #EEEEEE;
  text-decoration: underline;
}

.list_column {
  text-justify: left;
  justify-content: left;
}

.education {
  min-width: 500px;
}
.header_image {
  display: flex;
  background-color: #272727;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.header_image img {
  flex-shrink: 0;
  min-width: auto;
  min-height: auto;
  object-fit: cover;
  background-color: #272727;
}

.white {
  display:block;
align-items:center;
align-self: center;
text-align: center;
justify-content: center;
color: white;
}

.header { 
  grid-area: header;
}
.main_body { 
  grid-area: main; 
}
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'main right right'
    'footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.AWS_services {
grid-area: AWS_services;
}

.non_AWS_services {
  grid-area: non_AWS_services;
}
.grid-services {
  display: grid;
  grid-template-areas:
    'AWS_services non_AWS_services';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  /*text-align: center;
  /*padding: 10px 0;*/
  font-size:initial;
}
.name {
  font-size:10px;
}


@media (orientation:portrait) {
item4{display:none}
} 