* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
body {
  background-color: rgba(131, 131, 131, 0.41);
}
* {
  box-sizing: border-box;
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: rgba(131, 131, 131, 0.41);
}
.row {
  display: table;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 100%;
  line-height: 24px;
  text-align: justify;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(82, 116, 164);
}
footer.page-footer {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
* {
  box-sizing: border-box;
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
nav ul a,
nav .brand-logo {
  color: rgb(68, 68, 68);
}
.header.col.s12.light.white-text {
  font-size: 18px;
}
.center-box {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 500px;
}
.col.m6 {
  font-family: Helvetica, serif;
  padding: 0 10px 0 10.5px;
  height: auto;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10.5px;
}
.c42828 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin: 3px 0 3px 0;
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  text-align: left;
}
#ivc82n3 {
  font-size: 44px;
  color: rgb(255, 255, 255);
}
.fab.fa-github-square {
  font-size: 40px;
  color: rgb(255, 255, 255);
  padding: 0 10px 0 0;
  border: 0 none rgba(255, 255, 255, 0);
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.col.s6.m4 {
  color: rgb(255, 255, 255);
  text-align: justify;
  font-size: 11px;
}
.fas.fa-phone-square-alt {
  font-size: 18px;
}
.c85389 {
  font-size: 15px;
  text-align: left;
}
.fab.fa-linkedin {
  font-size: 40px;
  padding: 0 10px 0 0;
  color: rgb (255, 255, 255);
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.fab.fa-linkedin:hover {
  color: rgb (176, 189, 208);
}
.fab.fa-github-square:hover {
  color: rgb(176, 189, 208);
}
.fas.fa-rss-square {
  color: rgb(255, 255, 255);
  font-size: 40px;
}
.fas.fa-rss-square:hover {
  color: rgb(176, 189, 208);
}
.c300744 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
}
.c32555 {
  font-size: 21px;
  min-height: auto;
  text-align: left;
  float: left;
  color: rgb(255, 212, 154);
}
.c302805 {
  color: rgb(255, 212, 154);
  font-size: 14px;
  min-height: auto;
  border: 0 none rgba(255, 255, 255, 0);
  text-align: right;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: rgba(255, 255, 255, 0);
  border-right-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
  border-left-color: rgba(255, 255, 255, 0);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.c304482 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  min-height: auto;
  text-align: left;
}
.c31996 {
  font-size: 33px;
  line-height: 47px;
  background-color: rgb(82, 116, 164);
  text-align: center;
}
.gjs-comp-selected.c174398:hover {
  color: rgb (255, 255, 255);
}
.c49793 {
  color: rgb(255, 255, 255);
}
.c50148 {
  color: rgb(255, 255, 255);
}
.c50157 {
  color: rgb(255, 255, 255);
}
.c50175 {
  color: rgb(255, 255, 255);
}
.c52178 {
  caret-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.c32555.year {
  font-size: 16px;
  position: static;
  float: none;
}
.c302805.Education-Minor {
  text-align: left;
  color: rgb(255, 255, 255);
}
.c300744.bar {
  font-size: 22px;
  line-height: 14px;
}